# Ignore the file that should have secret in it, they need to be modify.
gitops-demo/simple-quarkus-service-deploy/tekton/pipelines/github-secret.yaml
gitops-demo/simple-quarkus-service-deploy/tekton/pipelines/github.yaml